body {
  display: flex;
  justify-content: center;
}
#barra{
  background-color: black;
  width: 30px;
  height: 150px;
  margin-left: 30px;
}

.chassis {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 82%;
  height: 70%;
  padding: 7px;
  border-radius: 30px;
  place-items: center;
}

.cirRed{
  margin: 10px;
  width: 80px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  transition: 0.9s ease-in-out;
}

.cirYell {
  margin: 10px;
  height: 100px;
  width: 80px;
  background-color: yellow;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.9s ease-in-out;
}

.cirGreen {
    margin: 10px;
    height: 100px;
    width: 80px;
    background-color: green;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.9s ease-in-out;
  }
  
  .lighted {
    margin: 10px;
    width: 80px;
    height: 100px;
    border: 10px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.911);
    
  }
  